[submodule "platform-app-manager"]
	path = platform-app-manager
	url = https://github.com/experimental-platform/platform-app-manager.git
[submodule "platform-buildstep"]
	path = platform-buildstep
	url = https://github.com/experimental-platform/platform-buildstep.git
[submodule "platform-central-gateway"]
	path = platform-central-gateway
	url = https://github.com/experimental-platform/platform-central-gateway.git
[submodule "platform-configure"]
	path = platform-configure
	url = https://github.com/experimental-platform/platform-configure.git
[submodule "platform-dokku"]
	path = platform-dokku
	url = https://github.com/experimental-platform/platform-dokku.git
[submodule "platform-frontend"]
	path = platform-frontend
	url = https://github.com/experimental-platform/platform-frontend.git
[submodule "platform-hostname-avahi"]
	path = platform-hostname-avahi
	url = https://github.com/experimental-platform/platform-hostname-avahi.git
[submodule "platform-hostname-smb"]
	path = platform-hostname-smb
	url = https://github.com/experimental-platform/platform-hostname-smb.git
[submodule "platform-monitoring"]
	path = platform-monitoring
	url = https://github.com/experimental-platform/platform-monitoring.git
[submodule "platform-ptw"]
	path = platform-ptw
	url = https://github.com/experimental-platform/platform-ptw.git
[submodule "platform-skvs"]
	path = platform-skvs
	url = https://github.com/experimental-platform/platform-skvs.git
[submodule "platform-systemd-proxy"]
	path = platform-systemd-proxy
	url = https://github.com/experimental-platform/platform-systemd-proxy.git
[submodule "platform-ubuntu"]
	path = platform-ubuntu
	url = https://github.com/experimental-platform/platform-ubuntu.git
[submodule "platform-pulseaudio"]
	path = platform-pulseaudio
	url = https://github.com/experimental-platform/platform-pulseaudio.git
